@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins&family=Roboto:wght@700&display=swap');

header {
  padding: 0 20px 0 20px;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.hamburger-menu {
  width: 30px;
}

.title a {
  text-decoration: none;
}

.title h5 {
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.headline-container {
  padding-left: 20px;
  background-color: #1c1a19;
  background-image: url(../icons/illustration-header-mobile.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 35vh;
  height: 95vh;
}

.headline-container h1 {
  margin: 0;
  padding-top: 120px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.1em;
}

.headline-container h3 {
  margin: 0;
  color: white;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.headline-container p {
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width: 88vw;
}

.social-media-icon {
  margin: 0;
  padding-left: 3px;
  display: inline-flex;
  width: 200px;
  column-gap: 21px;
}

.social-media-icon li {
  list-style: none;
}

.work-container {
  display:grid;
  grid-template-columns: 1fr;
  margin: 120px 0 0 0;
}

.work-container h2{
  font-family: 'Crete Round', serif;
  font-size: 40px;
  line-height: 83px;
  font-weight: 400;
  text-align: center;
  margin: 0 24px 24px 24px;
  border-bottom: 2px solid #c8c8c8;
  display: inline;
  color: #1C1A19;
}

.project-1 {
  display: flex;
  flex-direction: column;
}

.project-1 img {
 padding: 80px 24px 0 24px;
}

.project-1 h3 {
  margin: 24px 24px 0px 24px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #091E42;
}

.project-1 p {
  margin: 12px 24px 0 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #091E42;
}

.used-language {
  display: flex;
  padding: 0;
  margin: 13px 0 0 24px;
  column-gap: 12px;
}

.used-language li {
  list-style: none;
  padding: 10px;
  border: 1px solid #8993A4;
}

.used-language li a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style:normal;
  font-weight: 500;
  font-size: 15px;
  color: #091E42;
}

.project-1 button {
  margin: 12px 0 0 24px;
  width: 124px;
  height: 48px;
  background-color: #FF6B00;
  border-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #FFFFFF;
}
